* {
    font-family: 'Roboto', sans-serif;
    color: #03045e;
}

body {
    margin: 0;
    padding: 0;
    background-color: #caf0f8;
}

h1, h2 {
    font-family: 'Orelega One', cursive;
}

h2 {
    margin: 0;
}

.content {
    min-height: 100vh;
    width: 1000px;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00b4d8;
    padding: 0 24px;
}

.section {
    border-radius: 3px;
    width: fit-content;
    margin-bottom: 24px;
    background-color: #90e0ef;
}

.row {
    display: flex;
    margin: 12px 24px;
    line-height: 24px;
    text-align: center;
    justify-content: space-between;
}

.row div {
    flex: 1;
}

label {
    margin-right: 12px;
}

input {
    width: 300px;
    justify-self: flex-end;
    font-size: 14px;
    height: 24px;
    background-color: #caf0f8;
    outline: none;
    border: none;
    padding: 3px 6px;
    border-radius: 3px;;
}

button {
    background-color: #03045e;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

button:hover {
    box-shadow: 0 0 20px #caf0f8;
}